body {
  margin: 0;
  padding: 0;

  font-size: 20pt;
  color: white;
  font-family: sans-serif;

  background-color: CornflowerBlue;
}

#actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: .5em;

  background-color: rgba(0,0,0,.4);
}

.toggle-actions {
  position: absolute;
  top: 0;
  right: 0;
  padding: .2em;
  color: #ccc;
}

.toggle-actions.hide {

}

.toggle-actions.show {
  display: none;
}

#actions button {
  cursor: pointer;
  font-size: 20px;
}

