body {
  margin: 0;
  padding: 0;

  font-size: 20pt;
  color: white;
  font-family: sans-serif;

  background-color: CornflowerBlue;
}

#actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: .5em;

  background-color: rgba(0,0,0,.4);
}

.toggle-actions {
  position: absolute;
  top: 0;
  right: 0;
  padding: .2em;
  color: #ccc;
}

.toggle-actions.hide {

}

.toggle-actions.show {
  display: none;
}

#actions button {
  cursor: pointer;
  font-size: 20px;
}

#lobby {
  position: absolute;
  top: 0;
}

.player {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: solid black 1px;
}

.controlling {
  border: solid red 5px;
  width: 16px;
  height: 16px;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.white {
  background-color: white;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

#new-map {
  color: red;
}