body {
  margin: 0;
  padding: 0;

  font-size: 18pt;
  color: white;
  font-family: sans-serif;

  position: relative;
  background-color: CornflowerBlue;
}

#nav {
  background-color: green;
  border-bottom: solid black 1px;
  padding: 2px;
}

.board {
  margin-left: 155px;
  margin-right: 155px;
}

#container {
  position: relative;
}

#actions {
  width: 150px;
  border-right: solid black 1px;

  position: absolute;
  top: 0;
  left: 0;

  text-align: center;

  padding-left: 5px;
  background-color: rgba(0,0,0,.4);
}

#boats {
  width: 150px;
  border-left: solid black 1px;

  position: absolute;
  top: 0;
  right: 0;

  padding-left: 5px;
  background-color: rgba(0,0,0,.4);
}

.column {
  display: inline-block;
  height: 100%;
}

.toggle-actions {
  position: absolute;
  top: 0;
  right: 0;
  padding: .2em;
  color: #ccc;
}

.toggle-actions.hide {

}

.toggle-actions.show {
  display: none;
}

#actions button {
  cursor: pointer;
  font-size: 20px;
}

#lobby {
  position: absolute;
  top: 0;
}

.player-block {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: solid black 1px;
}

.ghost {
  opacity: .33;  
}

.ghost.controlling {
  opacity: 1;
  width: 20px;
  height: 20px;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.white {
  background-color: white;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

#new-map {
  color: red;
}

.message-log {
  width: 135px; 
  height: 180px;

  color: black;
  background-color: white;;
  margin: 2px;
  font-size: 10pt;

  text-align: left;
  padding-left: 5px;
  overflow-y: scroll;
}

.message-log li {
  display: block;
  border-top: solid #ccc 1px;
  padding-top: 2px;
}

.chat-color {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 4px;
  border: solid black 1px;
}

.chat-username {
  font-weight: bold;
}

.black {
  background-color: black;
}

.speed-container {
  width: 120px;
  font-size: 14pt;
}

.damaged {
  text-decoration: line-through;
  color: red;
}

@media only screen and (min-width: 800px) {
  #footer-controls {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .column1, .column3 {
    display: none;
  }

  .board {
    margin-left: 0;
    margin-right: 0;
  }

  #footer-controls {
    border-top: solid black 1px;
    background-color: green;
    padding: 5px;
    margin-top: 0;

    display: default;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
  }
}

#footer-controls {
  #mobile-go, #mobile-left, #mobile-right {
    height: 30px;
    width: 30%;
  }

  .die {
    width: 18%;
  }
}