body {
  margin: 0;
  padding: 0;

  font-size: 20pt;
  color: white;
  font-family: sans-serif;

  background-color: CornflowerBlue;
}

#nav {
  background-color: green;
  border-bottom: solid black 1px;
  padding: 2px;
}

.board {
  margin-left: 155px;
  margin-right: 155px;
}

#container {
  position: relative;
}

#actions {
  width: 150px;
  border-right: solid black 1px;

  position: absolute;
  top: 0;
  left: 0;

  text-align: center;

  padding-left: 5px;
  background-color: rgba(0,0,0,.4);
}

#boats {
  width: 150px;
  border-left: solid black 1px;

  position: absolute;
  top: 0;
  right: 0;

  padding-left: 5px;
  background-color: rgba(0,0,0,.4);
}

.column {
  display: inline-block;
  height: 100%;
}

.toggle-actions {
  position: absolute;
  top: 0;
  right: 0;
  padding: .2em;
  color: #ccc;
}

.toggle-actions.hide {

}

.toggle-actions.show {
  display: none;
}

#actions button {
  cursor: pointer;
  font-size: 20px;
}

#lobby {
  position: absolute;
  top: 0;
}

.player {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: solid black 1px;
}

.controlling {
  border: solid red 5px;
  width: 16px;
  height: 16px;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.white {
  background-color: white;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

#new-map {
  color: red;
}

.message-log {
  width: 135px; 
  height: 180px;

  color: black;
  background-color: white;;
  margin: 2px;
  font-size: 10pt;

  text-align: left;
  padding-left: 5px;
  overflow-y: scroll;
}

.message-log li {
  display: block;
  border-top: solid #ccc 1px;
  padding-top: 2px;
}

.chat-color {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 4px;
  border: solid black 1px;
}

.black {
  background-color: black;
}

.speed-container {
  width: 120px;
  font-size: 14pt;
}

.damaged {
  text-decoration: line-through;
  color: red;
}